$breakpoint1: 1200px;
$breakpoint2: 766px;
$breakpoint3: 460px;

.header {
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @media (max-width: $breakpoint2) {
    height: 100px;
  }
  &__container {
    height: 100%;
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #fff;
    @media (max-width: $breakpoint1) {
      padding: 0 40px;
    }
    @media (max-width: $breakpoint2) {
      padding: 0 20px;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  &__logo {
  }
  &__links {
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $breakpoint2) {
    margin-top: 10px;
  }
  &__li {
    &:not(:last-child) {
      margin-right: 38px;
      @media (max-width: $breakpoint1) {
        margin-right: 18px;
      }
      @media (max-width: $breakpoint3) {
        margin-right: 14px;
      }
    }
  }
  &__link {
    color: #fff;
    font-size: 18px;
    line-height: 156%;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s ease 0s;
    &:hover {
      text-decoration-color: inherit;
    }
    @media (max-width: $breakpoint3) {
      font-size: 16px;
    }
  }
}
