@import "../src/assets/global.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
body {
  background-color: $bgPrimary;
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}
.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  border-radius: 1.5px;
  margin-right: 6px;
  margin-bottom: 2px;
}

.home {
  color: #fff;
  &__bg {
    background: url("../frontBG.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    text-align: center;
    color: #e9e9e9;
  }
  &__title {
    font-weight: 300;
    font-size: 55px;
    line-height: 120%;
  }
  &__subtitle {
    font-size: 22px;
    line-height: 167%;
    margin-top: 25px;
    margin-bottom: 29px;
  }
}

.about{
  &__services{
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.service{
  max-width: 362px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $secondary;
  &__title{
    font-size: 20px;
    line-height: 165%;
    margin: 16px 0;
  }
  &__subtitle{
    font-size: 18px;
    line-height: 156%;
  }
}