@import "../src/assets/global.scss";
.contact-form{
  &__field{
    position: relative;
    margin-bottom: 36px;
    &:last-child{
      margin-bottom: 60px;
    }
  }
  &__input{
    transition: all 0.3s ease 0s;
    &--error{
      border: 1px solid $error !important;
    }
  }
  &__label{
    position: absolute;
    top: -16px;
    left: 5px;
    color: $error;
    transition: all 0.3s ease 0s;
    opacity: 0;
    &--visible{
      opacity: 1;
    }
  }
}